package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};

/**
 * <p>
 * Mapper接口
 * </p>
 *
 * @author ${author}
 * @since ${data}
 */
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}