<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piggymetrics.account.dao.mapper.AccountSubjectInfoMapper">
  <resultMap id="BaseResultMap" type="com.piggymetrics.account.dao.entity.AccountSubjectInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="platcust" jdbcType="VARCHAR" property="platcust" />
    <result column="mall_platcust" jdbcType="VARCHAR" property="mall_platcust" />
    <result column="account_type" jdbcType="VARCHAR" property="account_type" />
    <result column="plat_no" jdbcType="VARCHAR" property="plat_no" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="sub_subject" jdbcType="VARCHAR" property="sub_subject" />
    <result column="t_balance" jdbcType="DECIMAL" property="t_balance" />
    <result column="n_balance" jdbcType="DECIMAL" property="n_balance" />
    <result column="f_balance" jdbcType="DECIMAL" property="f_balance" />
    <result column="yester_balance" jdbcType="DECIMAL" property="yester_balance" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modify_time" />
    <result column="clear_date" jdbcType="DATE" property="clear_date" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="enabled" jdbcType="CHAR" property="enabled" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_by" jdbcType="VARCHAR" property="create_by" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="update_by" jdbcType="VARCHAR" property="update_by" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
    <result column="ext3" jdbcType="VARCHAR" property="ext3" />
    <result column="ext4" jdbcType="VARCHAR" property="ext4" />
    <result column="ext5" jdbcType="VARCHAR" property="ext5" />
    <result column="map_platcust" jdbcType="VARCHAR" property="map_platcust" />
    <result column="card_no" jdbcType="VARCHAR" property="card_no" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, platcust, mall_platcust, account_type, plat_no, subject, sub_subject, t_balance, 
    n_balance, f_balance, yester_balance, modify_time, clear_date, status, enabled, remark, 
    create_by, create_time, update_by, update_time, ext1, ext2, ext3, ext4, ext5, map_platcust, 
    card_no
  </sql>
  <select id="selectByExample" parameterType="com.piggymetrics.account.dao.entity.AccountSubjectInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from account_subject_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from account_subject_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from account_subject_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.piggymetrics.account.dao.entity.AccountSubjectInfoExample">
    delete from account_subject_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.piggymetrics.account.dao.entity.AccountSubjectInfo">
    insert into account_subject_info (id, platcust, mall_platcust, 
      account_type, plat_no, subject, 
      sub_subject, t_balance, n_balance, 
      f_balance, yester_balance, modify_time, 
      clear_date, status, enabled, 
      remark, create_by, create_time, 
      update_by, update_time, ext1, 
      ext2, ext3, ext4, ext5, 
      map_platcust, card_no)
    values (#{id,jdbcType=BIGINT}, #{platcust,jdbcType=VARCHAR}, #{mall_platcust,jdbcType=VARCHAR}, 
      #{account_type,jdbcType=VARCHAR}, #{plat_no,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR}, 
      #{sub_subject,jdbcType=VARCHAR}, #{t_balance,jdbcType=DECIMAL}, #{n_balance,jdbcType=DECIMAL}, 
      #{f_balance,jdbcType=DECIMAL}, #{yester_balance,jdbcType=DECIMAL}, #{modify_time,jdbcType=TIMESTAMP}, 
      #{clear_date,jdbcType=DATE}, #{status,jdbcType=VARCHAR}, #{enabled,jdbcType=CHAR}, 
      #{remark,jdbcType=VARCHAR}, #{create_by,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, 
      #{update_by,jdbcType=VARCHAR}, #{update_time,jdbcType=TIMESTAMP}, #{ext1,jdbcType=VARCHAR}, 
      #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR}, #{ext4,jdbcType=VARCHAR}, #{ext5,jdbcType=VARCHAR}, 
      #{map_platcust,jdbcType=VARCHAR}, #{card_no,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.piggymetrics.account.dao.entity.AccountSubjectInfo">
    insert into account_subject_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="platcust != null">
        platcust,
      </if>
      <if test="mall_platcust != null">
        mall_platcust,
      </if>
      <if test="account_type != null">
        account_type,
      </if>
      <if test="plat_no != null">
        plat_no,
      </if>
      <if test="subject != null">
        subject,
      </if>
      <if test="sub_subject != null">
        sub_subject,
      </if>
      <if test="t_balance != null">
        t_balance,
      </if>
      <if test="n_balance != null">
        n_balance,
      </if>
      <if test="f_balance != null">
        f_balance,
      </if>
      <if test="yester_balance != null">
        yester_balance,
      </if>
      <if test="modify_time != null">
        modify_time,
      </if>
      <if test="clear_date != null">
        clear_date,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="create_by != null">
        create_by,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_by != null">
        update_by,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
      <if test="ext1 != null">
        ext1,
      </if>
      <if test="ext2 != null">
        ext2,
      </if>
      <if test="ext3 != null">
        ext3,
      </if>
      <if test="ext4 != null">
        ext4,
      </if>
      <if test="ext5 != null">
        ext5,
      </if>
      <if test="map_platcust != null">
        map_platcust,
      </if>
      <if test="card_no != null">
        card_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="platcust != null">
        #{platcust,jdbcType=VARCHAR},
      </if>
      <if test="mall_platcust != null">
        #{mall_platcust,jdbcType=VARCHAR},
      </if>
      <if test="account_type != null">
        #{account_type,jdbcType=VARCHAR},
      </if>
      <if test="plat_no != null">
        #{plat_no,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="sub_subject != null">
        #{sub_subject,jdbcType=VARCHAR},
      </if>
      <if test="t_balance != null">
        #{t_balance,jdbcType=DECIMAL},
      </if>
      <if test="n_balance != null">
        #{n_balance,jdbcType=DECIMAL},
      </if>
      <if test="f_balance != null">
        #{f_balance,jdbcType=DECIMAL},
      </if>
      <if test="yester_balance != null">
        #{yester_balance,jdbcType=DECIMAL},
      </if>
      <if test="modify_time != null">
        #{modify_time,jdbcType=TIMESTAMP},
      </if>
      <if test="clear_date != null">
        #{clear_date,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="create_by != null">
        #{create_by,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_by != null">
        #{update_by,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="ext1 != null">
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null">
        #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null">
        #{ext4,jdbcType=VARCHAR},
      </if>
      <if test="ext5 != null">
        #{ext5,jdbcType=VARCHAR},
      </if>
      <if test="map_platcust != null">
        #{map_platcust,jdbcType=VARCHAR},
      </if>
      <if test="card_no != null">
        #{card_no,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.piggymetrics.account.dao.entity.AccountSubjectInfoExample" resultType="java.lang.Integer">
    select count(*) from account_subject_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update account_subject_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.platcust != null">
        platcust = #{record.platcust,jdbcType=VARCHAR},
      </if>
      <if test="record.mall_platcust != null">
        mall_platcust = #{record.mall_platcust,jdbcType=VARCHAR},
      </if>
      <if test="record.account_type != null">
        account_type = #{record.account_type,jdbcType=VARCHAR},
      </if>
      <if test="record.plat_no != null">
        plat_no = #{record.plat_no,jdbcType=VARCHAR},
      </if>
      <if test="record.subject != null">
        subject = #{record.subject,jdbcType=VARCHAR},
      </if>
      <if test="record.sub_subject != null">
        sub_subject = #{record.sub_subject,jdbcType=VARCHAR},
      </if>
      <if test="record.t_balance != null">
        t_balance = #{record.t_balance,jdbcType=DECIMAL},
      </if>
      <if test="record.n_balance != null">
        n_balance = #{record.n_balance,jdbcType=DECIMAL},
      </if>
      <if test="record.f_balance != null">
        f_balance = #{record.f_balance,jdbcType=DECIMAL},
      </if>
      <if test="record.yester_balance != null">
        yester_balance = #{record.yester_balance,jdbcType=DECIMAL},
      </if>
      <if test="record.modify_time != null">
        modify_time = #{record.modify_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.clear_date != null">
        clear_date = #{record.clear_date,jdbcType=DATE},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.enabled != null">
        enabled = #{record.enabled,jdbcType=CHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.create_by != null">
        create_by = #{record.create_by,jdbcType=VARCHAR},
      </if>
      <if test="record.create_time != null">
        create_time = #{record.create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.update_by != null">
        update_by = #{record.update_by,jdbcType=VARCHAR},
      </if>
      <if test="record.update_time != null">
        update_time = #{record.update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ext1 != null">
        ext1 = #{record.ext1,jdbcType=VARCHAR},
      </if>
      <if test="record.ext2 != null">
        ext2 = #{record.ext2,jdbcType=VARCHAR},
      </if>
      <if test="record.ext3 != null">
        ext3 = #{record.ext3,jdbcType=VARCHAR},
      </if>
      <if test="record.ext4 != null">
        ext4 = #{record.ext4,jdbcType=VARCHAR},
      </if>
      <if test="record.ext5 != null">
        ext5 = #{record.ext5,jdbcType=VARCHAR},
      </if>
      <if test="record.map_platcust != null">
        map_platcust = #{record.map_platcust,jdbcType=VARCHAR},
      </if>
      <if test="record.card_no != null">
        card_no = #{record.card_no,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update account_subject_info
    set id = #{record.id,jdbcType=BIGINT},
      platcust = #{record.platcust,jdbcType=VARCHAR},
      mall_platcust = #{record.mall_platcust,jdbcType=VARCHAR},
      account_type = #{record.account_type,jdbcType=VARCHAR},
      plat_no = #{record.plat_no,jdbcType=VARCHAR},
      subject = #{record.subject,jdbcType=VARCHAR},
      sub_subject = #{record.sub_subject,jdbcType=VARCHAR},
      t_balance = #{record.t_balance,jdbcType=DECIMAL},
      n_balance = #{record.n_balance,jdbcType=DECIMAL},
      f_balance = #{record.f_balance,jdbcType=DECIMAL},
      yester_balance = #{record.yester_balance,jdbcType=DECIMAL},
      modify_time = #{record.modify_time,jdbcType=TIMESTAMP},
      clear_date = #{record.clear_date,jdbcType=DATE},
      status = #{record.status,jdbcType=VARCHAR},
      enabled = #{record.enabled,jdbcType=CHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_by = #{record.create_by,jdbcType=VARCHAR},
      create_time = #{record.create_time,jdbcType=TIMESTAMP},
      update_by = #{record.update_by,jdbcType=VARCHAR},
      update_time = #{record.update_time,jdbcType=TIMESTAMP},
      ext1 = #{record.ext1,jdbcType=VARCHAR},
      ext2 = #{record.ext2,jdbcType=VARCHAR},
      ext3 = #{record.ext3,jdbcType=VARCHAR},
      ext4 = #{record.ext4,jdbcType=VARCHAR},
      ext5 = #{record.ext5,jdbcType=VARCHAR},
      map_platcust = #{record.map_platcust,jdbcType=VARCHAR},
      card_no = #{record.card_no,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.piggymetrics.account.dao.entity.AccountSubjectInfo">
    update account_subject_info
    <set>
      <if test="platcust != null">
        platcust = #{platcust,jdbcType=VARCHAR},
      </if>
      <if test="mall_platcust != null">
        mall_platcust = #{mall_platcust,jdbcType=VARCHAR},
      </if>
      <if test="account_type != null">
        account_type = #{account_type,jdbcType=VARCHAR},
      </if>
      <if test="plat_no != null">
        plat_no = #{plat_no,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="sub_subject != null">
        sub_subject = #{sub_subject,jdbcType=VARCHAR},
      </if>
      <if test="t_balance != null">
        t_balance = #{t_balance,jdbcType=DECIMAL},
      </if>
      <if test="n_balance != null">
        n_balance = #{n_balance,jdbcType=DECIMAL},
      </if>
      <if test="f_balance != null">
        f_balance = #{f_balance,jdbcType=DECIMAL},
      </if>
      <if test="yester_balance != null">
        yester_balance = #{yester_balance,jdbcType=DECIMAL},
      </if>
      <if test="modify_time != null">
        modify_time = #{modify_time,jdbcType=TIMESTAMP},
      </if>
      <if test="clear_date != null">
        clear_date = #{clear_date,jdbcType=DATE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="create_by != null">
        create_by = #{create_by,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_by != null">
        update_by = #{update_by,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="ext1 != null">
        ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null">
        ext3 = #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null">
        ext4 = #{ext4,jdbcType=VARCHAR},
      </if>
      <if test="ext5 != null">
        ext5 = #{ext5,jdbcType=VARCHAR},
      </if>
      <if test="map_platcust != null">
        map_platcust = #{map_platcust,jdbcType=VARCHAR},
      </if>
      <if test="card_no != null">
        card_no = #{card_no,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.piggymetrics.account.dao.entity.AccountSubjectInfo">
    update account_subject_info
    set platcust = #{platcust,jdbcType=VARCHAR},
      mall_platcust = #{mall_platcust,jdbcType=VARCHAR},
      account_type = #{account_type,jdbcType=VARCHAR},
      plat_no = #{plat_no,jdbcType=VARCHAR},
      subject = #{subject,jdbcType=VARCHAR},
      sub_subject = #{sub_subject,jdbcType=VARCHAR},
      t_balance = #{t_balance,jdbcType=DECIMAL},
      n_balance = #{n_balance,jdbcType=DECIMAL},
      f_balance = #{f_balance,jdbcType=DECIMAL},
      yester_balance = #{yester_balance,jdbcType=DECIMAL},
      modify_time = #{modify_time,jdbcType=TIMESTAMP},
      clear_date = #{clear_date,jdbcType=DATE},
      status = #{status,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_by = #{create_by,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_by = #{update_by,jdbcType=VARCHAR},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      ext1 = #{ext1,jdbcType=VARCHAR},
      ext2 = #{ext2,jdbcType=VARCHAR},
      ext3 = #{ext3,jdbcType=VARCHAR},
      ext4 = #{ext4,jdbcType=VARCHAR},
      ext5 = #{ext5,jdbcType=VARCHAR},
      map_platcust = #{map_platcust,jdbcType=VARCHAR},
      card_no = #{card_no,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>